* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  overflow-y: hidden;
}

#text {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 10;
}

input[type="text"],
input[type="number"] {
  padding: 1vh 0.2vw;
  margin: 0.4vh 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"] {
  width: 80%;
}

button {
  border: none;
  color: black;
  padding: 1vh 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  cursor: pointer;
}

#kit {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
}

.drum {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000000;
}

#S {
  width: 14vh;
  height: 14vh;

  color: rgb(0, 0, 0);
  background-color: rgb(227, 227, 227);

  position: relative;
  top: 15vh;
  left: 52%;
}

#K {
  border-radius: 0;
  width: 22vh;
  height: 11vh;
  position: relative;
  left: 50%;
}

#T1 {
  width: 10vh;
  height: 10vh;
  position: relative;
  top: 7%;
  left: 36%;
}

#T2 {
  width: 12vh;
  height: 12vh;
  position: relative;
  top: 7%;
  left: 38%;
}

#F {
  width: 14vh;
  height: 14vh;
  position: relative;
  top: 15vh;
  left: 36%;
}

#H {
  width: 14vh;
  height: 14vh;

  background-color: rgb(205, 127, 50);

  position: relative;
  top: 15vh;
  right: 1%;
}

#C {
  width: 14vh;
  height: 14vh;

  background-color: rgb(205, 127, 50);

  position: relative;
  top: 1%;
  right: 3%;
}

#R {
  width: 16vh;
  height: 16vh;

  background-color: rgb(205, 127, 50);

  position: relative;
  left: 12%;
}
